<%- include('../partials/header.ejs') %>

    <h1 class="text text-success text-center">Kitob O'zgartirish</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form action="/book/update/<%= book._id %>" method="post" enctype="multipart/form-data">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input value="<%= book.name %>" name="name" type="text" id="name" class="form-control" />
                                <label class="form-label" for="name">Book name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input value="<%= book.number %>" name="number" type="number" id="number" class="form-control" />
                                <label class="form-label" for="number">Book Number</label>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input value="<%= book.email %>" name="email" type="email" id="email" class="form-control" />
                        <label class="form-label" for="email">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input value="<%= book.price %>" name="price" type="number" id="price" class="form-control" />
                        <label class="form-label" for="price">Price</label>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input name="image" type="file" class="form-control"> 
                        <img src="/<%= book.image %>" alt="" width="100">
                        <input type="hidden" name="old_image" value="<%= book.image %>">
                    </div>
                        
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-warning btn-block mb-4">O'zgartirish</button>
                </form>
            </div>
        </div>
    </div>



    <%- include('../partials/footer.ejs') %>